.auth--input {
  border: 0.15rem solid rgba(33, 51, 79, 0.15);
  color: #21334f;
  width: calc(100% - 1.5rem);
  padding: 0.4rem 0.5rem;
  display: inline-block;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  height: 37px;
  border: 1px solid rgba(33, 51, 79, 0.15);
}
